* {
  font-family: 'Indie Flower', cursive;
}

header {
  h1 {
    background-image: url('/img/logo.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    padding-left: 2rem;

  }
}

body {
  background: white;
  padding: 1rem;
}

.card {
  margin: 0.5rem 0;

  .link-banner {
    display: block;
    height: 200px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
  }
}

@media (max-width: 576px) {
  .card {
    position: relative;
    overflow: hidden;

    .card-header {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-bottom-width: 0;
      border-right: 1px solid rgba(0,0,0,.125);
      padding: .25rem .25rem;

      .link-banner {
        height: 100%;
        width: 100px;
      }
    }

    .card-body {
      margin-left: calc(100px + .5rem);
      padding: .5rem .5rem;
      height: 100px;

      .card-text {
        text-overflow: ellipsis;
        overflow: scroll;
        max-height: 3rem;
      }
    }
  }
}