---
layout: default
---

<div id="calendar-container">
    <div class="row sticky-top">
        <div class="col-12 col-md-12">
            <ul class="nav nav-tabs class-pick">
            </ul>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-12 col-md-6 key py-1">
            <span class="today">Today</span>
            <span class="tomorrow">Tomorrow</span>
            <span class="holiday">Holiday</span>
            <span class="deadlines"><a href="#deadlines">Deadlines</a></span>
        </div>
        <div class="col-12 col-md-6 text-right py-1">
            <div class="btn-group" role="group" aria-label="Navigate Weeks">
                <button type="button" class="btn btn-secondary prev-week">&ltri;</button>
                <button type="button" class="btn btn-secondary this-week">Go to this week</button>
                <button type="button" class="btn btn-secondary next-week">&rtri;</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-2">
            <div class="card day day-0 monday">
                <div class="card-header">
                    <div class="dow">Mon</div>
                    <div class="date"></div>
                </div>
                <div class="card-body">
                    <div class="holiday">Holiday</div>
                    <div class="info"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="card day day-1 tuesday">
                <div class="card-header">
                    <div class="dow">Tue</div>
                    <div class="date"></div>
                </div>
                <div class="card-body">
                    <div class="holiday">Holiday</div>
                    <div class="info"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="card day day-2 wednesday">
                <div class="card-header">
                    <div class="dow">Wed</div>
                    <div class="date"></div>
                </div>
                <div class="card-body">
                    <div class="holiday">Holiday</div>
                    <div class="info"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="card day day-3 thursday">
                <div class="card-header">
                    <div class="dow">Thur</div>
                    <div class="date"></div>
                </div>
                <div class="card-body">
                    <div class="holiday">Holiday</div>
                    <div class="info"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="card day day-4 friday">
                <div class="card-header">
                    <div class="dow">Fri</div>
                    <div class="date"></div>
                </div>
                <div class="card-body">
                    <div class="holiday">Holiday</div>
                    <div class="info"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2 ">
            <div class="card day day-5 saturday mb-3">
                <div class="card-header">
                    <div class="dow">Sat</div>
                    <div class="date"></div>
                </div>
                <div class="card-body">
                    <div class="holiday">Holiday</div>
                    <div class="info"></div>
                </div>
            </div>

            <div class="card deadlines" id="deadlines">
                <div class="card-header">
                    <div class="dow">Deadlines</div>
                    <div class="date">&nbsp;</div>
                </div>
                <div class="card-body">
                    <dl class="list"></dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 text-right">
            <div class="btn-group" role="group" aria-label="Navigate Weeks">
                <button type="button" class="btn btn-secondary prev-week">&ltri;</button>
                <button type="button" class="btn btn-secondary this-week">Go to this week</button>
                <button type="button" class="btn btn-secondary next-week">&rtri;</button>
            </div>
        </div>
    </div>
</div>

<!--<footer>-->
<!--    By Marc G. Smith-->
<!--</footer>-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
        integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg=="
        crossorigin="anonymous"></script>

<script src="/js/calendar.js?cb=11"></script>

{{ content }}
