---
layout: default
---
<div class="row">
    {% if page.archived == true %}
        {% assign data = site.data[page.dataset] | where:"archived","yes" %}
    {% elsif page.archived == false %}
        {% assign data = site.data[page.dataset] | where:"archived","no" %}
    {% else %}
        {% assign data = site.data[page.dataset] %}
    {% endif %}

    {% for link in data %}
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="tile card">
            <div class="card-header">
                <a href="{{link.url}}" target="_blank" class="link-banner" style="background-image: url('/img/links/{{link.image}}')"></a>
            </div>
            <div class="card-body">
                <h5 class="card-title"><a href="{{link.url}}" target="{{link.target | default: '_blank'}}">{{link.name}}</a></h5>
                <p class="card-text">{{link.description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>